<div *ngIf="boekje">

    <h2>{{boekje.name | uppercase}} Details</h2>
    <div><span>id: </span>{{boekje.id}}</div>
    <div class="vertical">
      <label for="boekje-name">Boekje name: </label>
      <input id="boekje-name" [(ngModel)]="boekje.name" placeholder="name">
      <label for="boekje-name">Boekje beschrijving: </label>
      <input id="boekje-description" [(ngModel)]="boekje.description" placeholder="description">
    </div>
    <button type="button" (click)="goBack()">go back</button>
    <button type="button" (click)="save()">save</button>
    <button type="button" (click)="delete(boekje)">delete</button>
  </div>