<ul class="boekjes">
  <li *ngFor="let boekje of boekjes">
    <a routerLink="/detail/{{boekje.id}}">
      <span class="badge">{{boekje.id}}</span> {{boekje.name}}
    </a>
    <button type="button" class="delete" title="delete boekje"
      (click)="delete(boekje)">x</button>
  </li>
</ul>
<div>
  <label for="new-boekje-name">Boekje name: </label>
  <input id="new-boekje-name" #boekjeName />
  <label for="new-boekje-desc">Boekje beschrijving: </label>
  <input id="new-boekje-desc" #boekjeDescription />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(boekjeName.value, boekjeDescription.value); boekjeName.value=''; boekjeDescription.value=''">
    Add boekje
  </button>
</div>