<div *ngIf="boekje; else loading">
    <h2>{{boekje.name | uppercase}} Details</h2>
    <div><span>id: </span>{{boekje.id}}</div>
    <div class="vertical">
      <label for="boekje-name">Boekje naam: </label>
      <input id="boekje-name" [(ngModel)]="boekje.name" placeholder="name">
      <label for="boekje-description">Boekje beschrijving: </label>
      <input id="boekje-description" [(ngModel)]="boekje.description" placeholder="description">
      <label for="boekje-archived">Boekje gearchiveerd:</label>
      <div>
        <input type="checkbox" id="boekje-archived" [(ngModel)]="boekje.archived">
      </div>
      <div>
        <label>gebruikers</label>
        <ul>
          <li *ngFor="let userMail of boekje.userIds">
            <span>{{userMail}}</span>
            <button type="button" (click)="removeUser(userMail)">-</button>
          </li>
        </ul>
      </div>
        <label for="new-user">voeg gebruiker toe</label>
      <div>
        <input id="new-user" type="text" [(ngModel)]="newUserMail" placeholder="email">
        <button type="button" (click)="addUser()">+</button>
      </div>


    </div>
    <button class="button" type="button" (click)="goBack()">terug</button>
    <button class="button" type="button" (click)="save()">opslaan</button>
  </div>

  <ng-template #loading>
    <div class="mt"><span class="loader"></span></div>
  </ng-template>
