<div>
  <p>Alle categorieën:</p>
  <div class="chartsWrapper">
    <div><canvas baseChart [data]="barChartData" [type]="'bar'"></canvas></div>
    <div><canvas baseChart [data]="lineGraphData" [type]="'line'"></canvas></div>
  </div>


  <ul class="categories" *ngIf="categories.length; else loading">
    <li *ngFor="let category of categories">
      <a routerLink="/categories/{{category.id}}">
        <span class="badge">{{category.id}}</span> {{category.name}}
      </a>
    </li>
  </ul>
</div>


  <ng-template #loading>
    <div class="mt"><span class="loader"></span></div>
  </ng-template>

  <hr>
  <h2>Voeg categorieën toe:</h2>
  <div>
    <label for="new-category-name">Categorie naam: </label>
    <input id="new-category-name" #categoryName />
    <label for="new-category-desc">Categorie beschrijving: </label>
    <input id="new-category-desc" #categoryDescription />
    <button type="button" class="add-button" (click)="add(categoryName.value, categoryDescription.value); categoryName.value=''; categoryDescription.value='';">
      voeg categorie toe
    </button>
  </div>
