<app-error [errorMessages]="errorMessages"/>
<div class="mt">
  <label for="boekje-select">Kies boekje: </label>
  <select id="boekje-select" [(ngModel)]="selectedBoekje" (change)="getCategories()">
    <option *ngFor="let boekje of boekjes" [value]="boekje.id">{{boekje.name}}</option>
  </select>
  <div class="chartsWrapper">
    <div><canvas baseChart [data]="budgetBarChartData" [type]="'bar'"></canvas></div>
    <div><canvas baseChart [data]="barChartData" [type]="'bar'"></canvas></div>
    <div><canvas baseChart [data]="lineGraphData" [type]="'line'"></canvas></div>
  </div>

  <p>Alle categorieën:</p>
  <ul class="categories" *ngIf="categories.length; else loading">
    <li *ngFor="let category of categories">
      <a routerLink="/categories/{{category.id}}">
        <span class="badge">{{category.name}}</span> Budget: €{{category.max_budget}}
      </a>
    </li>
  </ul>
</div>


  <ng-template #loading>
    <div class="mt"><span class="loader"></span></div>
  </ng-template>

  <hr>
  <h2>Voeg categorieën toe:</h2>
  <div>
    <label for="new-category-name">Categorie naam: </label>
    <input id="new-category-name"[(ngModel)]="name" />
    <label for="new-category-desc">Categorie beschrijving: </label>
    <input id="new-category-desc" [(ngModel)]="description" />
    <label for="new-category-max_budget">Categorie maximale budget:</label>
    <input type="number" id="new-category-max_budget" [(ngModel)]="max_budget" />
    <label for="new-category-end_date">Categorie einddatum:</label>
    <input type="date" id="new-category-end_date" [(ngModel)]="end_date" />
    <ng-container *ngFor="let errorMessage of validationMessages">
      <div *ngIf="errorMessage" class="alert">{{ errorMessage }}</div>
    </ng-container>
    <button type="button" class="add-button" (click)="add(name, description, max_budget, end_date);">
      voeg categorie toe
    </button>
  </div>
