  <ul class="categories" *ngIf="incomes.length; else loading">
    <p>Alle inkomsten:</p>
    <li *ngFor="let category of categories">
      <h2>Categorie <b>{{category.name}}</b></h2>
      <ul class="incomes">
        <li *ngFor="let income of incomes">
          <ng-container *ngIf="income.category === category.name">
            <a routerLink="/in-uit/in/{{income.id}}">
              <span class="badge">{{income.id}}</span> {{income.name}} - €{{income.cash}}
            </a>
          </ng-container>
        </li>
      </ul>
    </li>
    <p> Totale inkomsten: €{{ totalIncome }}</p>
  </ul>
  
  <ng-template #loading>
    <div class="mt"><span class="loader"></span></div>
  </ng-template>

  <ng-template #emptyCatagory>
    <p>no categories</p>
  </ng-template>
  
  <hr>
  <h2>Voeg inkomsten toe:</h2>
  <div>
    <label for="new-income-name">Inkomst naam: </label>
    <input id="new-income-name" #inkomstName />
    <label for="new-income-cash">Inkomst bedrag: </label>
    <input tpye="number" id="new-income-cash" #inkomstCash />
    <label for="new-income-desc">Inkomst beschrijving: </label>
    <input id="new-income-desc" #inkomstDescription />
    <label for="new-income-category">Inkomst categorie: </label>
    <select id="new-income-category" #inkomstCategory >
      <option *ngFor="let category of categories" [value]="category.name">{{category.name}}</option>
    </select>
    <button type="button" class="add-button" (click)="add(inkomstName.value, inkomstCash.value, inkomstDescription.value, inkomstCategory.value); inkomstName.value=''; inkomstCash.value=''; inkomstDescription.value=''; inkomstCategory.value=''">
      voeg inkomst toe
    </button>
  </div>